:root {
  --reach-menu-button: 1;
}

[data-reach-menu],
[data-reach-menu-popover] {
  @apply absolute block;
}

[data-reach-menu][hidden],
[data-reach-menu-popover][hidden] {
  @apply hidden;
}

[data-reach-menu-list],
[data-reach-menu-items] {
  @apply block mt-1 whitespace-no-wrap border-none focus:outline-none;
  @apply py-2 text-sm font-medium rounded-md shadow-md;
}

[data-reach-menu-item] {
  @apply block px-4 py-1 cursor-pointer select-none;
  color: inherit;
  font: inherit;
  text-decoration: initial;
}

[data-reach-menu-item][data-selected] {
  @apply outline-none;
}

[data-reach-menu-item][aria-disabled] {
  @apply opacity-50 cursor-not-allowed;
}
