@import './../../../styles/variables';

.title {
  font-size: $font-size-5;
  color: $black;
  word-break: break-word;
}

.subtitle {
  font-size: $font-size-3;
  font-weight: normal;
  color: $black;
  word-break: break-word;
}

.sectionTitle {
  font-size: $font-size-3;
  font-weight: bold;
  color: $black;
  word-break: break-word;
}

.sectionSubtitle {
  font-size: $font-size-2;
  font-weight: bold;
  color: $black;
  word-break: break-word;
}
