@layer utilities {
  .hyphens-auto {
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
  }
  .hyphens-all {
    hyphens: auto;
    overflow-wrap: anywhere;
    word-break: break-all;
  }
  .reakit-animate-3d {
    & > div {
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
      opacity: 0;
      transform-origin: top center;
      transform: translate3d(0, -10px, 0);
    }
    &[data-enter] > div {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
  .reakit-animate-scale {
    & > div {
      transition: opacity 100ms ease-out, transform 100ms ease-out;
      opacity: 0;
      transform-origin: top center;
      transform: scale(0.85);
    }
    &[data-enter] > div {
      opacity: 1;
      transform: scale(1);
    }
  }
  @responsive {
    /* custom responsive utilities */
  }
}
