// https://system-ui.com/theme/

// @media screen and (min-width: $breakpoint)
$breakpoint-1: 40em;
$breakpoint-2: 52em;
$breakpoint-3: 64em;
$breakpoint-4: 80em;

// font-size
$font-size-1: 1rem;
$font-size-2: 1.125rem;
$font-size-3: 1.5rem;
$font-size-4: 2rem;
$font-size-5: 2.25rem;

// width, height min-width, max-width, min-height, max-height
$size-1-4: 25%;
$size-1-3: calc(100% / 3);
$size-1-2: 50%;
$size-2-3: calc(100% / 1.5);
$size-3-4: 75%;
$size-100: 100%;
$size-1: 1rem;
$size-2: 2rem;
$size-2-5: 2.5rem;
$size-3: 4rem;
$size-4: 8rem;
$size-5: 16rem;
$size-6: 24rem;
$size-50: 50rem;

// margin, margin-top, margin-right, margin-bottom, margin-left,
// padding, padding-top, padding-right, padding-bottom, padding-left,
// grid-gap, grid-column-gap, grid-row-gap
$space-1: 0.25rem;
$space-2: 0.5rem;
$space-3: 1rem;
$space-4: 1.5rem;
$space-5: 1.75rem;
$space-6: 2rem;
$space-7: 3rem;
$space-8: 4rem;
$space-9: 5rem;
$space-10: 8rem;

// boarder-widths
$border-width-1: 1px;
$border-width-2: 2px;
$border-width-3: 3px;

// border-radii
$radii-1: 1px;
$radii-2: 2px;
$radii-3: 4px;
$radii-4: 8px;
$radii-5: 9999px;

// colors
$white: #ffffff;
$black: #0f0f0f;
$red: #e53e3e;
$green: #96e896;
$yellow: #f3db04;
$blue: #5aa8f1;
$light-grey: #dddddd;
$dark-grey: #929292;
$algolia: #5468fe;
