/* purgecss start ignore */

@tailwind base;
/* Your own custom base styles */
@tailwind components;
/* Your own custom component styles */

/* purgecss end ignore */

/* local css */
@import './global.css';

@tailwind utilities;
/* Your own custom utilities */

.hyphens-none {
  hyphens: none;
}

.hyphens-manual {
  hyphens: manual;
}

.hyphens-auto {
  hyphens: auto;
}
