@import '../../../styles/variables';

.outerContainer {
  background-color: $light-grey;
  padding: 0 $space-3;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $size-50;
  height: $size-3;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.spaceLeft {
  margin-left: $space-3;
}

.notes {
  position: relative;
  border-radius: $radii-5;
}

.notesIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.notesStatus {
  position: absolute;
  top: -0.2rem;
  right: -0.2rem;
  height: 0.9rem;
  width: 0.9rem;
  background-color: $blue;
  border-radius: $radii-5;
  opacity: 0.9;
}
