@import '../../../styles/variables';

.outerContainer {
  margin-bottom: $space-6;
  padding: 0 $space-3;
  @media screen and (min-width: $breakpoint-1) {
    padding: 0 $space-6;
  }
}

.innerContainer {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: $size-50;
}

.link {
  margin-right: $space-4;
}
