@use '../../../styles/variables';

@mixin input {
  display: block;
  width: 100%;
  height: variables.$size-2-5;
  padding: variables.$space-2;
  box-sizing: border-box;
  border: 1.25px solid variables.$black;
  border-radius: variables.$radii-3;
  font-size: variables.$font-size-2;

  &:hover,
  &:active,
  &:focus {
    outline: 0;
    box-shadow: 0px 0px 0px 2px variables.$blue;
    transition: box-shadow 0.15s ease-out;
  }

  &:active,
  &:focus {
    &::placeholder {
      color: transparent;
    }
  }

  &[disabled] {
    opacity: 0.25;
    &:hover,
    &:active,
    &:focus {
      outline: 0;
      box-shadow: none;
      transition: none;
    }

    &:active,
    &:focus {
      &::placeholder {
        color: inherit;
      }
    }
  }
}
